<div class="container-fluid tableGeneralStyle">
  <table class="table ">
    <thead class="tableHeader">
      <tr class="cellFormat">
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Región</th>
      </tr>
    </thead>
    <tbody >
      <tr class="cellFormatTwo" *ngFor="let cafe of cafes">
        <th scope="row">{{ cafe.id }}</th>
        <td>{{ cafe.nombre }}</td>
        <td>{{ cafe.tipo }}</td>
        <td>{{ cafe.region }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="row">
    Total café de origen: {{ totalOrigen }}
  </div>
  <div class="row">
    Total café blend: {{ totalBlend }}
  </div>
</div>
